@{
    ViewBag.Title = "CRUDTest";
}

<div class="jumbotron">
    <h1>Mongo Vs MySQL</h1>
    <p class="lead">This part of aplication is responsible for performance test of CRUD operations on both database systems.
        Click button below to see results on charts.
    </p>
    <button id="runTest" class="btn btn-primary">Run Test &raquo</button>
</div>
<h1>CRUD</h1> 

<div id="create_div"></div>
<div id="remove_div"></div>
<div id="update_div"></div>
<div id="delete_div"></div>