@{
    ViewBag.Title = "Statistics";
}

@*@model List<projectDB.Models.Crime>*@
<div class="jumbotron">
    <p class="lead">
        Check it out how many crimes commited in specyfic area!!!
    </p>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" id="arename" placeholder="e.g Cracov">
                <span class="input-group-btn">
                    <button id="checkItOut" class="btn btn-primary" type="button">check it out!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    <div>
        <h2 id="crimes_number"></h2>
    </div>
    
    
</div>


           
@*<table class="table">
    <tr>
        <th>DATA popełnienia przestępstwa</th>
        <th>Rejon</th>
        <th>Opis</th>
        <th>Ulica</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DateRptd</td>
            <td>@item.AreaName</td>
            <td>@item.CrmCdDesc</td>
            <td>@item.Location</td>
        </tr>
    }

</table>*@